<div>
	{{include.authors}} ({{include.year}}). <i>{{include.title}}</i>.
	{% if include.inpress %}
		 <u>{{include.journal}}</u>, in press.		
	{% else %}
		{% if include.biorxiv %}
			 <u>{{include.journal}}</u>.	
		{% else %}
			 <u>{{include.journal}}</u> {{include.volume}}({{include.issue}}), {{include.pages}}.		
		{% endif %}
	{% endif %}
	{% if include.doi %}
	   <a href="{{include.doi}}">link.</a>
	{% else %}
	{% endif %}
	{% if include.youtube %}
	   <a href="{{include.youtube}}"><img src="https://raw.githubusercontent.com/mikeryanmay/website/792d47671ce22dcf4d79de65c8f3e733ee94cc70/assets/img/YouTube_icon.svg" alt="HTML tutorial" style="width:24px;height:24px;"></a>
	{% else %}
	{% endif %}
</div>
